@model BikeService.Data.Entities.Bicycle
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create Bicycle</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    @{
        await Html.RenderPartialAsync("~/Views/Shared/_BicycleFormPartial.cshtml", Model);
    }
    <button type="submit" class="btn btn-success">Save</button>
</form>