@model BikeService.Data.Entities.SparePart
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create Spare Part</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    @{
        await Html.RenderPartialAsync("~/Views/Shared/_SparePartFormPartial.cshtml", Model);
    }
    <button type="submit" class="btn btn-success">Save</button>
</form>